Ahorcado.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Ahorcado. -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:tns="urn:ECCI_Ahorcado"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
			 name="ECCI_Ahorcado"
			 targetNamespace="urn:ECCI_Ahorcado">

	<!-- Tipos complejos -->

	<types>
		<xsd:schema targetNamespace="urn:ECCI_Ahorcado"/>
	</types>

	<!-- Mensajes para comunicarse con la clase Ahorcado. -->

	<message name="saludeIn">
		<part name="nombre" type="xsd:string"/>
	</message>

	<message name="saludeOut">
		<part name="return" type="xsd:string"/>
	</message>

	<message name="servidorEstampillaDeTiempoIn"/>

	<message name="servidorEstampillaDeTiempoOut">
		<part name="return" type="xsd:string"/>
	</message>

	<message name="ultimoSaludoIn"/>

	<message name="ultimoSaludoOut">
		<part name="return" type="xsd:string"/>
	</message>

	<message name="getPalabraIn"/>

	<message name="getPalabraOut">
		<part name="return" type="xsd:string"/>
	</message>

	<!-- Puerto para comunicar con la clase Ahorcado, "ECCI_Ahorcado" -->

	<portType name="ECCI_AhorcadoPort">
		<operation name="salude">
			<documentation>Ahorcado::salude() Saluda al Mundo o a $this-&gt;nombre o saluda a $nombre si $nombre no es vacío.</documentation>
			<input message="tns:saludeIn"/>
			<output message="tns:saludeOut"/>
		</operation>
		<operation name="servidorEstampillaDeTiempo">
			<documentation>HolaMundo::servidorEstampillaDeTiempo() Devuelve el tiempo del servidor.</documentation>
			<input message="tns:servidorEstampillaDeTiempoIn"/>
			<output message="tns:servidorEstampillaDeTiempoOut"/>
		</operation>
		<operation name="ultimoSaludo">
			<documentation>HolaMundo::ultimoSaludo() Devuelve el saludo guardado en la propiedad ultimo_saludo.</documentation>
			<input message="tns:ultimoSaludoIn"/>
			<output message="tns:ultimoSaludoOut"/>
		</operation>
		<operation name="getPalabra">
			<documentation>HolaMundo::ultimoSaludo() Devuelve el saludo guardado en la propiedad ultimo_saludo.</documentation>
			<input message="tns:getPalabraIn"/>
			<output message="tns:getPalabraOut"/>
		</operation>
	</portType>

	<!-- Vinculación de los llamados con el transporte - RPC, SOAP/Encoded over HTTP -->

	<binding name="ECCI_AhorcadoBinding" type="tns:ECCI_AhorcadoPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<operation name="salude">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#salude"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
		<operation name="servidorEstampillaDeTiempo">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#servidorEstampillaDeTiempo"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
		<operation name="ultimoSaludo">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#ultimoSaludo"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>

		<operation name="getPalabra">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getPalabra"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
	</binding>

	<!-- Punto de comunicación con la clase Ahorcado -->

	<service name="ECCI_AhorcadoService">
		<port name="ECCI_AhorcadoPort" binding="tns:ECCI_AhorcadoBinding">
			<soap:address location="http://titanic.ecci.ucr.ac.cr/~eb50946/prueba/"/>
		</port>
	</service>
</definitions>
