prueba/prueba/Connected Services/AhorcadoService/ECCI_Ahorcado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ECCI_Ahorcado" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ECCI_Ahorcado" targetNamespace="urn:ECCI_Ahorcado" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ECCI_Ahorcado" />
  </wsdl:types>
  <wsdl:message name="verificarLetraIn">
    <wsdl:part name="letra" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="verificarLetraOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIntentosRestantesIn" />
  <wsdl:message name="getIntentosRestantesOut">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="verificarSiGanoIn" />
  <wsdl:message name="verificarSiGanoOut">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getPalabraIn" />
  <wsdl:message name="getPalabraOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ECCI_AhorcadoPort">
    <wsdl:operation name="verificarLetra">
      <documentation>Ahorcado::verificarLetra() Verifica si la letra esta en la palabra.</documentation>
      <wsdl:input message="tns:verificarLetraIn" />
      <wsdl:output message="tns:verificarLetraOut" />
    </wsdl:operation>
    <wsdl:operation name="getIntentosRestantes">
      <documentation>HolaMundo::getIntentosRestantes() Devuelve los intentos.</documentation>
      <wsdl:input message="tns:getIntentosRestantesIn" />
      <wsdl:output message="tns:getIntentosRestantesOut" />
    </wsdl:operation>
    <wsdl:operation name="verificarSiGano">
      <documentation>HolaMundo::verificarSiGano() Devuelve 1 si gano sino 0.</documentation>
      <wsdl:input message="tns:verificarSiGanoIn" />
      <wsdl:output message="tns:verificarSiGanoOut" />
    </wsdl:operation>
    <wsdl:operation name="getPalabra">
      <documentation>HolaMundo::ultimoSaludo() Devuelve el saludo guardado en la propiedad ultimo_saludo.</documentation>
      <wsdl:input message="tns:getPalabraIn" />
      <wsdl:output message="tns:getPalabraOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECCI_AhorcadoBinding" type="tns:ECCI_AhorcadoPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="verificarLetra">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#verificarLetra" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIntentosRestantes">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getIntentosRestantes" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarSiGano">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#verificarSiGano" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPalabra">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getPalabra" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECCI_AhorcadoService">
    <wsdl:port name="ECCI_AhorcadoPort" binding="tns:ECCI_AhorcadoBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr/~eb50946/prueba/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>